.card {
    background-color: var(--mantine-color-body);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.title {
    font-family:
        Greycliff CF,
        var(--mantine-font-family);
    line-height: 1;
}
.stats {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-xs);
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-gray-6);
    justify-content: center;
}
.menor {
    color: var(--mantine-color-orange-6);
}

.maior {
    color: var(--mantine-color-green-6);
}

.card {
    height: calc(100vh / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
}

.pilotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width:  calc(100% - 25px);
    margin: auto;
    margin-top: 75px;
    z-index: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.500);

}