.viewer {
  z-index: 20;
}

.card_viewer {
  width: 100%;
  height: auto;
}

.container_viewer {
  padding-right: calc(var(--mantine-spacing-xl) * 3);
  padding-left: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-right: 0;
    padding-left: 0; 
  }
}
